
* {
  box-sizing: border-box;
  margin:0;
  border:0;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

.content{
   clear: right;
   padding: 8px;
}

.section_header {
  float: right;
 
  border: 1px solid black;
  position: relative;
  bottom: 1px;
  left: 1px;
  font-weight: bold;
  padding: 4px;
  width:100px;
  text-align: center;
  
}

.box {
  
  border: 1px solid black;
  background: #ccc;
  padding: 10px;
  
}

.outer-box{
  background-color: grey;
  float:left;
  margin-bottom: 20px;
  margin-left: 10px;


}
  



#chicken {
  background-color: pink;
}

#beef {
  background-color: darkred;
}

#sushi {
 background-color: orange;

}


/* media querie for outer-box*/


/********** Desktop **********/
@media (min-width: 992px) {
  .outer-box{
    width: 33%;
}
}


/********** Tablet **********/
@media (min-width: 768px) and (max-width: 991px) {
  
  .outer-box{
  
    width: 50%;
  }
  
  #outer-sushi-box{
    width: 100%;
  }
  
 

}

